Models

Movies table
-id, title, year, duration, description, average_vote, production_company_id

Production_Companies Tbl (1 to many)
-id, name

movies_genres table
-movie_id,genre_id

-genres Tbl
- id, name